:root {
    --ecomm-color-primary: #0000b7;
    --ecomm-color-secondary:#ffffff;
    --ecomm-color-border:#000000;
    --ecomm-color-navbar:#f7fbff;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}